<h2>About Me</h2>
<p>I'm a Postdoctoral Scholar at UCSF Program on Reproductive Health and the Environment</p>

<span class="fa fa-file fa-md main-list-item-icon"></span>
<a href="Trowbridge_CV.pdf" target="_blank">CV</a>
<br>
<br>

<span class="fa fa-envelope fa-md main-list-item-icon"></span>
jesstro [at] berkeley [dot] edu
<br>
<br>

<span class="fa fa-map-marker fa-md main-list-item-icon"></span>
UCSF, San Francisco<br>

<br>
<span class="fa fa-linkedin fa-md main-list-item-icon"></span>
<a href="https://www.linkedin.com/in/jessica-trowbridge-phd-mph-736b4b4" target="_blank">linkedin</a>

